<app-header />
<app-nav />
<div class="card" *ngIf="event; else loading">
  <h2>{{ event.title }}</h2>
  <div class="card-event">
    <div class="card-event-info">
      <p><strong>Date:</strong> {{ event.date | date : "fullDate" }}</p>
      <p><strong>Time:</strong> {{ event.time }} Hrs</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
      <p><strong>Description:</strong> {{ event.description }}</p>

      <button *ngIf="eventId && isAdmin" (click)="navigateToEditEvent(eventId)">
        Edit
      </button>
      <button *ngIf="eventId && isAdmin" (click)="deleteEvent(eventId)">
        Delete
      </button>
    </div>

    <img
      *ngIf="event.photoURL"
      [src]="event.photoURL"
      alt="Event Photo"
      class="event-photo"
    />
  </div>

  <h3>Comments</h3>
  <form (ngSubmit)="submitComment()">
    <textarea
      [(ngModel)]="commentText"
      name="comment"
      required
      placeholder="Write a comment..."
    ></textarea>
    <button type="submit">Post Comment</button>
  </form>

  <div class="comment" *ngFor="let comment of comments">
    <div *ngIf="editingCommentId !== comment.id">
      <p>
        <strong>{{ comment.authorName }}:</strong> {{ comment.text }}
      </p>
      <small>{{ $any(comment).timestamp | date : "short" }}</small>
    </div>

    <!-- Editable input field appears if this comment is being edited -->
    <div *ngIf="editingCommentId === comment.id">
      <textarea [(ngModel)]="updatedCommentText" required></textarea>
      <button (click)="updateComment(comment.id)">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>

    <!-- <button
      *ngIf="
        comment.authorId === currentUserId && editingCommentId !== comment.id
      "
      (click)="editComment(comment.id, comment.text)"
    >
      Edit
    </button>

    <button
      *ngIf="comment.authorId === currentUserId"
      (click)="deleteComment(comment.id)"
    >
      Delete
    </button> -->
    <button
      *ngIf="
        comment.authorId === currentUserId ||
        (isAdmin && editingCommentId !== comment.id)
      "
      (click)="editComment(comment.id, comment.text)"
    >
      Edit
    </button>

    <button
      *ngIf="comment.authorId === currentUserId || isAdmin"
      (click)="deleteComment(comment.id)"
    >
      Delete
    </button>
  </div>
</div>

<ng-template #loading>
  <p>Loading event details...</p>
</ng-template>
