
header {
  position: relative;
  height: 95vh; 
  width: 100%;
  transition: height 2s ease-in-out;
  overflow: hidden;
}

header.shrunk {
  height: 15vh;
}
.header-image {
  position: absolute;
  left: -3%;
  width: 103%;
  height: 100%;
  object-fit: cover;
  object-position: center center; /* Center the image initially */
  transition: object-position 2s ease-in-out, height 2s ease-in-out; /* Smooth transition for object position and height */
}


header.shrunk .header-image {
  object-position: center 160%; /* Shift to 30% from the top */
}

:not(.shrunk) {
  height: 95vh;
}

@media (max-width: 768px) {
  header {
    height: 85vh; 
  }
  :not(.shrunk) {
    height: 85vh;
  }
}