/* event-details.component.css */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  width: 60vw;
  min-height: 83vh;
}

.card-event {
  display: flex;
  justify-content: space-between;
}

h2 {
  border-bottom: 1px solid gray;
}

.card-event-info {
  flex-direction: column;
}

.card img.event-photo {
  border-radius: 8px;
  max-width: 50%;
  height: auto;
  box-shadow: 10px 5px 5px rgba(173, 173, 123, 0.959);
}

.card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

.card small {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #999;
}

.comments-section {
  margin-top: 30px;
}

.comment {
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  margin-top: 15px;
  padding: 10px 15px;
}

.comment p {
  margin: 0;
}

.comment small {
  color: #666;
}

/* 
button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
} */

button {
  color: #fff;
  background-color: rgb(98, 110, 34);
  border-color: rgb(98, 110, 34);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-clip: padding-box;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
  background-color: rgb(49, 55, 17);
  border-color:  rgb(49, 55, 17);
}


/* Style the form and textarea */
form {
  margin-top: 20px;
}

textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* Allows vertical resizing, might be useful for writing longer comments */
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .card-event {
    display: block;
  }
  .card-event-info {
    width: 100%;
  }
  .card img.event-photo {
    max-width: 100%;
    margin: 10px auto;
  }
}
