.wrapper {
  margin: 0;
  padding: 0;
  background: url('https://firebasestorage.googleapis.com/v0/b/softuniangular2024.appspot.com/o/event_photos%2Fguest1.png?alt=media&token=f8475fb1-1e1d-4569-946d-9c1ca7e4d6b3');
  background-size: 100% auto;
  background-repeat: repeat-y;
  min-height:72vh;
}

h1 {
  text-align: center;
  padding: 15px;
}

.guest-book-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(249,249,249,0.84);
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .guest-book-container h2 {
    text-align: center;
  }
  
  .guest-book-container form {
    margin-bottom: 20px;
  }
  
  .guest-book-container textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* .guest-book-container button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
  } */
  
  .guest-book-container button[disabled] {
    background-color: #ccc;
    margin-right: 15px;

  }
  
  /* .guest-book-entry { */
  .entry {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    box-shadow: 10px 5px 5px rgba(173, 173, 123, 0.959);
  }
  
  .guest-book-entry p {
    margin: 0;
  }
  
  .guest-book-entry small {
    color: #777;
  }
  
  /* .guest-book-entry button {
    margin-right: 10px;
    background-color: #dc3545; 
  } */
  
  /* .guest-book-entry button:nth-child(2) {
    background-color: #007bff;
  } */
  
  .guest-book-entry textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
  }

  .message-to-guests {
    text-indent: 25px;
    margin-bottom: 25px;
    font: italic small-caps bold 22px/30px "Comic Sans MS", serif;
    color:#222;
  }
  

  
  button {
    color: #fff;
    background-color: rgb(98, 110, 34);
    border-color: rgb(98, 110, 34);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-clip: padding-box;
    border: 1px solid transparent;
    padding: 0.125rem 0.35rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  button:hover {
    background-color: rgb(49, 55, 17);
    border-color:  rgb(49, 55, 17);
  }