@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');


* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font: 22px/1.5 Karla, serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-position: outside;
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


