<!-- <app-header />
<app-nav />
<div *ngFor="let item of menuItems$ | async">
  <img [src]="item.image" alt="{{ item.title }}" />
  <h3>{{ item.title }}</h3>
  <p>{{ item.type }}</p>
  <p *ngIf="item.ingredients">Ingredients: {{ item.ingredients }}</p>
  <button *ngIf="item.id" (click)="likeItem(item.id)">Like ({{ item.likes || 0 }})</button>
</div> -->

<app-header />
<app-nav />
<div class="menu-container"> <!-- Use a specific class to target styling -->
  <div *ngFor="let item of menuItems$ | async" class="menu-item">
    <img [src]="item.image" alt="{{ item.title }}" class="menu-image"/>
    <div class="menu-details">
      <h3>{{ item.title }}</h3>
      <p>{{ item.type }}</p>
      <p *ngIf="item.ingredients">Ingredients: {{ item.ingredients }}</p>
      <button *ngIf="item.id" (click)="likeItem(item.id)">Like ({{ item.likes || 0 }})</button>
    </div>
  </div>
</div>
