<app-header />
<app-nav />
<div class="guests-container">
    <div *ngFor="let guest of guests$ | async" class="guest-card">
        <img [src]="guest.finalPhotoURL" alt="{{ guest.name }}" class="guest-photo">
        <div class="guest-info">
            <div class="guest-name">{{ guest.name }}</div>
            <div class="guest-details">
                Role: {{ guest.role }}
                <br>
                People attending: {{ guest.group }}
            </div>
            <!-- <div *ngFor="let guest of guests$ | async">
                <p>{{ guest.name }} - Travelling from: {{ guest.travelOrigin || 'Not specified' }}</p>
            </div> -->
            <div>
                <!-- <p>Travelling from: {{ guest.country || 'Not specified' }}</p> -->
            </div>
        </div>
    </div>
</div>

