<!-- <app-header></app-header>
<app-nav></app-nav>
<div class="upload-container">
  <h2>Upload New Photo</h2>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="upload-form">
    <div>
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" />
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description"></textarea>
    </div>
    <div>
      <label for="photoURL">Photo URL:</label>
      <input type="text" formControlName="photoURL" id="photoURL" />
    </div>
    <div>
      <label for="photoFile">Upload Photo:</label>
      <input type="file" (change)="onFileSelected($event)" id="photoFile" />
    </div>
    <button class="btn-primary" type="submit" [disabled]="!uploadForm.valid">Upload</button>
  </form>
</div> -->





<app-header></app-header>
<app-nav></app-nav>
<div class="upload-container">
  <h2>Upload New Photo</h2>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="upload-form">
    <div>
      <label for="title">Title:</label>
      <input type="text" formControlName="title" id="title" />
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description"></textarea>
    </div>
    <!-- <div>
      <label for="photoURL">Photo URL:</label>
      <input type="text" formControlName="photoURL" id="photoURL" />
    </div> -->
    <div>
      <label for="photoFile">Upload Photo:</label>
      <input type="file" (change)="onFileSelected($event)" id="photoFile" />
    </div>
    <button class="btn-primary" type="submit" [disabled]="!uploadForm.valid">Upload</button>
  </form>
</div>
